<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.obando.mejia.arrendapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controlador.Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controlador.Activity.ArchivoActivity"
            android:label="@string/title_activity_archivo" />
        <activity
            android:name=".Controlador.Activity.InmuebleActivity"
            android:label="@string/title_activity_inmueble" />
        <activity
            android:name=".Controlador.Activity.AcercaDeActivity"
            android:label="@string/title_activity_acerca_de" />
        <activity
            android:name=".Controlador.Activity.ContratoActivity"
            android:label="@string/title_activity_contrato" />
        <activity
            android:name=".Controlador.Activity.HabitacionActivity"
            android:label="@string/title_activity_habitacion" />
        <activity
            android:name=".Controlador.Activity.CrearUsuarioActivity"
            android:label="@string/title_activity_crear_usuario" />
        <activity
            android:name=".Controlador.Activity.VerUsuariosActivity"
            android:label="@string/title_activity_ver_usuario" />
        <activity
            android:name=".Controlador.Activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".Controlador.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>